<% provide(:goose, "Fairview") %>
<h1>EVEN BETTER!</h1>

<p id="changeThis">A real about page!</p>
<div id="myElement"></div>
<script>document.getElementById('myElement').innerHTML = "In-line test successful";</script>
<p>Second script end test</p>
<div class="classesTest">1</div>
<div class="classesTest">2</div>
<div class="classesTest">3</div>

