<div class="center jumbotron">
  <h1>You've found the home page. Congratulations.</h1>
  <a href="#">No</a>
  <%= link_to "Sign up HERE", signUp_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<form>
  <input type="color">Pick a color
  <input type="file">Pick a file
  <input type="tel">Phone number
</form>
