// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myElement {
  background: blue;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

.classesTest {
  background: red;
  height: 200px;
  text-align:center;
  font: 30px/300px sans-serif;
}
